In [6]:
import pandas as pd
import numpy as np
import pickle
import math

with open('/mnt/spare8tb/all_dataframes_sequential.pkl','rb') as f:
    all_data = pickle.load(f)

with open('/home/iyad/Liquidity/shares_outstanding_data.pkl', 'rb') as f:
    shares_data = pickle.load(f)

In [7]:
window_data = all_data[6374]
window_data

,NVDA_Volume,NVDA_vw,NVDA_Open,NVDA_Close,NVDA_High,NVDA_Low,NVDA_n
Date,,,,,,,
2005-01-03,1.068353e+09,0.1997,0.2032,0.1965,0.2060,0.1957,23852
2005-01-04,7.846225e+08,0.1896,0.1979,0.1873,0.1983,0.1843,18915
2005-01-05,7.251280e+08,0.1888,0.1853,0.1890,0.1913,0.1843,18441
2005-01-06,5.695403e+08,0.1889,0.1924,0.1872,0.1946,0.1858,13339
2005-01-07,7.630102e+08,0.1853,0.1876,0.1836,0.1890,0.1809,17662
...,...,...,...,...,...,...,...
2024-12-05,1.715823e+08,145.2429,145.1100,145.0600,146.5400,143.9500,1149095
2024-12-06,1.799514e+08,143.1441,144.6000,142.4400,145.7000,141.3100,1299130
2024-12-09,1.801944e+08,138.8311,138.9700,138.8100,139.9500,137.1300,1525627
2024-12-10,2.040882e+08,137.0564,139.0100,135.0700,141.8200,133.7900,1646482
2024-12-11,5.047194e+07,136.7919,137.3600,136.3800,138.0500,135.2100,461877

In [8]:
filtered_da = pd.DataFrame(window_data)
filtered_da.reset_index(inplace=True)
shar = shares_data['NVDA']
shar

filtered_da['Date'] = pd.to_datetime(filtered_da['Date'])
shar['Date'] = pd.to_datetime(shar['Date'])



# Sort the 'shar' DataFrame by the 'Date' column
shar = shar.sort_values('Date')

daily_dates = pd.date_range(start=shar['Date'].min(), end=shar['Date'].max(), freq='D')
daily_df = pd.DataFrame(daily_dates, columns=['Date'])
# Merge and forward fill the 'Shares Outstanding' values
daily_df = pd.merge(daily_df, shar, on='Date', how='left')
daily_df['Shares Outstanding'] = daily_df['Shares Outstanding'].fillna(method='ffill')
combined_df = pd.merge(daily_df,filtered_da,on='Date')
combined_df



# num = len(window_data)
# if num == 0:
#     # If the window data is empty, return 0
#     return 0
# else:
#     Volume = window_data
#     arr = []

#     for i in np.arange(num-1):
#         # Ensure you are handling the case when no matching 'Date' is found
#         turnov_row = combined_df[combined_df['Date'] == str(window_data.index[i].date())]

#         if not turnov_row.empty:
#             turnov = turnov_row['Shares Outstanding'].values[0]
#         else:
#             # Handle the case where no match is found
#             print(f"No sharesOutstanding data found for date: {window_data.index[i].date()}")
#             turnov = 0 # Default value to avoid division by zero

#         # Proceed only if turnov is not zero
#         if turnov != 0:
#             val = Volume[i] / turnov
#             arr = np.append(arr, val)
#         else:
# #                 print(f"Warning: sharesOutstanding is zero for date: {window_data.index[i].date()}")
#             turnov = 0

#     # Check if the sum of arr is greater than zero before applying math.log
#     if sum(arr) > 0:
#         result = math.log(sum(arr))
#     else:
#         result = 0  # Avoid log of zero or negative numbers

#     return result

,Date,Shares Outstanding,NVDA_Volume,NVDA_vw,NVDA_Open,NVDA_Close,NVDA_High,NVDA_Low,NVDA_n
0,2005-01-03,2.073391e+10,1.068353e+09,0.1997,0.2032,0.1965,0.2060,0.1957,23852
1,2005-01-04,2.073391e+10,7.846225e+08,0.1896,0.1979,0.1873,0.1983,0.1843,18915
2,2005-01-05,2.073391e+10,7.251280e+08,0.1888,0.1853,0.1890,0.1913,0.1843,18441
3,2005-01-06,2.073391e+10,5.695403e+08,0.1889,0.1924,0.1872,0.1946,0.1858,13339
4,2005-01-07,2.073391e+10,7.630102e+08,0.1853,0.1876,0.1836,0.1890,0.1809,17662
...,...,...,...,...,...,...,...,...,...
5015,2024-12-05,2.484800e+10,1.715823e+08,145.2429,145.1100,145.0600,146.5400,143.9500,1149095
5016,2024-12-06,2.484800e+10,1.799514e+08,143.1441,144.6000,142.4400,145.7000,141.3100,1299130
5017,2024-12-09,2.484800e+10,1.801944e+08,138.8311,138.9700,138.8100,139.9500,137.1300,1525627
5018,2024-12-10,2.484800e+10,2.040882e+08,137.0564,139.0100,135.0700,141.8200,133.7900,1646482
5019,2024-12-11,2.484800e+10,5.047194e+07,136.7919,137.3600,136.3800,138.0500,135.2100,461877

In [ ]:
filtered_da = pd.DataFrame(window_data)
filtered_da.reset_index(inplace=True)


filtered_da['Date'] = pd.to_datetime(filtered_da['Date'])
shar['period'] = pd.to_datetime(shar['Date'])



# Sort the 'shar' DataFrame by the 'Date' column
shar = shar.sort_values('Date')

daily_dates = pd.date_range(start=shar['Date'].min(), end=shar['Date'].max(), freq='D')
daily_df = pd.DataFrame(daily_dates, columns=['Date'])
# Merge and forward fill the 'Shares Outstanding' values
daily_df = pd.merge(daily_df, shar, on='Date', how='left')
daily_df['Shares Outstanding'] = daily_df['Shares Outstanding'].fillna(method='ffill')
combined_df = pd.merge(daily_df,filtered_da,on='Date')
combined_df